/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(24, 24, 24);
    color: rgb(185, 185, 185);
}

table, td{
    border: 1px solid rgb(185, 185, 185);
}

a, a:visited{
    color: rgb(105, 105, 19);
}

a:hover{
    color: rgb(173, 169, 169);
}

button{
    background-color: rgb(24, 24, 24);
    color: rgb(105, 105, 19);
}
button:hover{
    background-color: rgb(173, 169, 169);
}