<!-- <div [formGroup]="user">

    <input formControlName="name" placeholder="name">
    <input formControlName="surname" placeholder="surname">
    <div formGroupName="adress" placeholder="">
      <input formControlName="city" placeholder="city">
      <input formControlName="street" placeholder="street">
      <input formControlName="postalCode" placeholder="postalCode">
      <input formControlName="number" placeholder="number">
    </div>
  </div>
  <button (click)="onCheck()">Check</button> -->

<form [formGroup]="new_project">
    <input formControlName="name" placeholder="name">
    <input formControlName="description" placeholder="description">
</form>
<button (click)="onSave()">Save</button>
  
  
<hr>
<a routerLink="/" routerLinkActive="router-link-active">back</a>
