<nav>
  <a routerLink="projects" routerLinkActive="router-link-active">Project List</a><br>
  <a routerLink="functionalities" routerLinkActive="router-link-active">Functionality List</a><br>
  <hr>
  <!-- <a routerLink="cart" routerLinkActive="router-link-active">Cart</a> -->
  <!-- <a routerLink="products/list" routerLinkActive="router-link-active">Products</a> -->
  <!-- <a [routerLink]="['products']" routerLinkActive="router-link-active">Products dashboard</a>
  <a [routerLink]="['products', 'list']" routerLinkActive="router-link-active">Products list</a>
  <a [routerLink]="['products', productId]" routerLinkActive="router-link-active">Product {{productId}}</a> -->
</nav>
