<form [formGroup]="new_functionality">
    <input formControlName="name" placeholder="name">
    <input formControlName="description" placeholder="description">
    <select formControlName="priority">
        <option value="" disabled>priority</option>
        <option *ngFor="let priority of priorities">
          {{ priority }}
        </option>
    </select>
    <!-- select projekt (wyswietla tytul projektu) -->
    <!-- select user -->
    <!-- select status -->
</form>

<button (click)="onSave()">Save</button>
<hr>
<a routerLink="/" routerLinkActive="router-link-active">back</a>
