<p>Name: {{tsk.name}}</p>
<p>Description: {{tsk.description}}</p>
<p>Priority: {{tsk.priority}}</p>
<p>Status: {{tsk.status}}</p>
<p>Functionality: {{fun.name}} </p>
<p>Owner: {{own.name}}</p>
<p>Estimated execution time (in hours): {{tsk.exec_time}}</p>
<p>Added: {{tsk.added}}</p>
<p>Started: {{tsk.start}}</p>
<p>Finished: {{tsk.finish}}</p>
<hr>
<button>Change status (selectbox?)</button>
<button [routerLink]="['/tasks/edit', tsk.key]" routerLinkActive="router-link-active">Edit task</button>
<hr>
<a routerLink="/" routerLinkActive="router-link-active">back</a>
