<p>Name: {{tsk.name}}</p>
<p>Description: {{tsk.description}}</p>
<p>Priority: {{tsk.priority}}</p>
<p>Status: {{tsk.status}}</p>
<p>Functionality: {{fun.name}} </p>
<p>Owner: {{own.name}}</p>
<p>Estimated execution time (in hours): {{tsk.exec_time}}</p>
<p>Added: {{added}}</p>
<p *ngIf="tsk.start !== undefined">Started: {{start}}</p>
    <p *ngIf="tsk.start == undefined">Started: not started</p>
<p *ngIf="tsk.finish !== undefined">Finished: {{finish}}</p>
    <p *ngIf="tsk.finish == undefined">Finished: not finished</p>
<hr>
<button>Change status (selectbox?)</button>
<button [routerLink]="['/tasks/edit', tsk.key]" routerLinkActive="router-link-active">Edit task</button>
<hr>
<a routerLink="/" routerLinkActive="router-link-active">back</a>
