<table>
    <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <tr
          *ngFor="let functionality of functionalities; let i = index" id="tr{{i}}">
          <td>{{functionality.name}}</td>
          <td> {{projectNames[i]}}</td>
          <td>{{functionality.priority}}</td>
          <td>{{functionality.status}}</td>    
          <td><button (click)="onDeleteFunctionality(functionality, i)">Delete</button><button [routerLink]="['details', functionality.key]" routerLinkActive="router-link-active">Details</button></td>
    </tr>
    
</table>
<a routerLink="new" routerLinkActive="router-link-active">Add new functionality</a><br>
<a routerLink="/tasks" routerLinkActive="router-link-active">Task List</a><br>
<hr>
<a routerLink="/" routerLinkActive="router-link-active">back</a>
<router-outlet></router-outlet>
