<table style="border:1px solid black;">
    <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <tr
          *ngFor="let functionality of functionalities; let i = index" id="tr{{i}}">
          <td style="border:1px solid black;">{{functionality.name}}</td>
          <td style="border:1px solid black;"> {{projectNames[i]}}</td>
          <td style="border:1px solid black;">{{functionality.priority}}</td>
          <td style="border:1px solid black;">{{functionality.status}}</td>    
          <td style="border:1px solid black;"><button (click)="onDeleteFunctionality(functionality, i)">Delete</button><button (click)="onDetailsFunctionality(functionality)">Details</button></td>
    </tr>
    
</table>
<a routerLink="new" routerLinkActive="router-link-active">Add new functionality</a><br>
<a routerLink="/tasks" routerLinkActive="router-link-active">Task List</a><br>
<hr>
<a routerLink="/" routerLinkActive="router-link-active">back</a>
<router-outlet></router-outlet>
