<table>
<tr>
    <th>Name</th>
    <th>Actions</th>
</tr>
<tr
      *ngFor="let project of projects; let i = index" id="tr{{i}}">
      <td>{{project.name}}</td>
      <td><button (click)="onDeleteProject(project, i)">Delete</button><button (click)="onDetailsProject(project)" routerLink="details" routerLinkActive="router-link-active">Details</button></td>
</tr>

</table>
<a routerLink="new" routerLinkActive="router-link-active">Add new project</a>
<hr>
<a routerLink="/" routerLinkActive="router-link-active">back</a>
<router-outlet></router-outlet>
