<h2>Tasks for active project: {{activeProject.name}}</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Functionality</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <tr
          *ngFor="let task of tasks; let i = index" id="tr{{i}}">
          <td>{{task.name}}</td>
          <td>{{functionalityNames[i]}}</td>
          <td>{{task.priority}}</td>
          <td>{{task.status}}</td>
          <td><button (click)="onDeleteTask(task, i)">Delete</button><button [routerLink]="['details', task.key]" routerLinkActive="router-link-active">Details</button></td>
    </tr>
    
</table>
<a routerLink="new" routerLinkActive="router-link-active">Add new task</a><br>
<hr>
<a routerLink="/" routerLinkActive="router-link-active">back</a>
<router-outlet></router-outlet>
